{% extends 'basePoleMetier.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/pole_evolutionsMetier.css')}}">
<link rel="stylesheet" href="{{ asset('assets/css/a_general_pole.css')}}">

{% endblock %}

{% block title %}Album {% endblock %}

{% block body %}
{# {% include "partials/header_poles.html.twig" with {"logo": "metiers2",
"color":"rgba(44, 60,77,0.828)"}
%} #}


<div class="row align-items-center  ">
    <div class="col-2">
        <img class=" banniere-general sectionPole" style:"height: 50px;"
            src="{{ asset('img/poles/icones/album_photo.png') }}" alt="banniere design">
    </div>
    <div class="col-9 text-center ">
        <h4> Images témoignages vidéos...</h4>
    </div>
</div>
{% set len = medias|length -1 %}
<div class="container text-center ">
    <div class="row mb-4 ml-4 align-items-start">
        {% if medias %}
        {% for i in 0.. len %}
        {% if i is divisible by 2 %}
        {% set mt = 5 %}
        {% elseif i is divisible by 4 %}
        {% set mt = -1 %}
        {% else %}
        {% set mt = 0 %}
        {% endif %}
        <div class="p-5 mt-{{mt}} col-12 col-lg-3">
            <h4>texte</h4>

            <img class="logo_bn" src=" {{medias[i]}}">
            <p>
                lorem ipsum dolor sit amet,sdffgjh
                lorepsus

            </p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>





</div>
{% endblock %}