{% extends 'base_no_pole_button.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/art_retourExp_new.css')}}">
{% endblock %}

{% block title %}Modification d'un retour d'expérience{% endblock %}

{% block body %}
<a href="{{ path('experience') }}" class="btn btnRed ml-5">Retour à la liste des retours d'experiences</a>

<div class="container">
    <h1 class="text-center">Modifier un retour d'experience </h1>

    {{ form_start(form) }}

    {# Image de l'article #}
    <div class="mx-auto">
        <div class="text-center">
            {% if retourExp.imgRetourExp %}
            <img src="/uploads/retourExp/{{retourExp.imgRetourExp.imageRExp}}" alt="" width="300px"
                class="rounded my-2">
            <p><small>Voici votre image actuelle</small></p>
            {% else %}
            <img src="{{ asset('uploads/retourExp/retourExpDefault.jpg')}}" alt="experience" width="300px"
                class="img-fluid mb-3" style="border-radius:5px">
            <p><small>Cette image est un exemple</small></p>
            {% endif %}

        </div>
        <p><small>Cette image représente votre article</small></p>
        {{ form_row(form.imgRetourExp, {'label':"Image de votre article",'attr': {'class':"form-control w-100
        inputBorder" ,'minlength':'2','maxlength':'50'}} ) }}
    </div>

    {# titre #}
    <div class="mx-auto">
        {{ form_row(form.titrePublication, {'label':"Titre de la publication",'attr': {'class':"form-control w-100
        inputBorder" ,'minlength':'2','maxlength':'50'}} ) }}
    </div>

    {# Accroche #}
    <div class="mx-auto">
        {{ form_row(form.accroche, {'label':"Accroche de la publication",'attr': {'class':"form-control w-100
        inputBorder",'minlength':'10','maxlength':'255'}} ) }}
    </div>

    {# Intro #}
    <div class="mx-auto">
        {{ form_row(form.intro, {'label':"Intro de la publication",'attr': {'style':'height:150px','class':"form-control
        w-100 inputBorder",'minlength':'10','maxlength':'700'}} ) }}
    </div>

    {# Contenu #}
    <div class="mx-auto">
        {{ form_row(form.contenu, {'label':"Contenu de la publication",'attr':
        {'style':'height:350px','class':"form-control w-100 inputBorder",'minlength':'10'}} ) }}
    </div>

    {# Video #}
    <div class="mx-auto">
        {{ form_row(form.video, {'label':"Ajouter une vidéo",'attr': {'class':"form-control w-100 inputBorder"}} ) }}
    </div>

    {# Photo #}
    <div class="mx-auto">
        <small>Ici, vous pouvez ajouter des images pour expliquer le contenu de votre retour d'experience </small>
        {{ form_row(form.images, {'label':"Ajouter des images",'attr': {'class':"form-control w-100"}} ) }}
    </div>


    {% if retourExp.images | length > 0 %}
    <p><small>Voici les images présentes sur votre retour d'expérience </small></p>
    <div class="row justify-content-center">
        {% for image in retourExp.images %}
        <div class="col-4 text-center">
            <img src="{{ asset('/uploads/carousel/'~image.images) }}" alt="" width="150" class="my-2"
                style="border-radius:5px">

            {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
            <a class="btn btn-danger" href="{{ path('experience_delete_image', {id: image.id})}}" data-delete
                data-token="{{ csrf_token('delete' ~ image.id )}}">X</a>

        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center">
        <p><small>Vous n'avez pas encore ajouté d'image !</small></p>
    </div>
    {% endif %}

    <div class="text-center">
        <button type="submit" class="btn btnRed rounded w-50 my-5">Modifier</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/art_retourExp_form.js')}}"></script>
{% endblock %}