{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/account_index.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/art_retourExp_index.css')}}">
{% endblock %}

{% block body %}
    <div class="container articleIndex">
        <h2 class="text-center">
            <img  src="{{ asset('img/actualite/articles.svg')}}" alt="articles" class="img-fluid mr-3">
            <span>Articles publies</span>
        </h2>

        <div class="row">
            <div class="col-12 col-lg-4 mb-2 mb-lg-0 pr-lg-1">
                <form>
                    <div class="input-group" >
                        <input id="searchBar" type="search" placeholder="Rechercher..." aria-describedby="button-addon5" class="form-control">
                        
                        <div class="input-group-append">
                            <button id="button-addon5" type="submit" class="btn btnRed"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form> 
            </div>
            
            <div class="col-12 col-lg-4 mb-2 mb-lg-0 pr-lg-1">
                <div class="form-group trierArticles">
                    <select class="form-control w-100" id="selectOrderBy" placeholder="trier">
                        <option name="none">Trier par...</option>
                        <option name="latest">Les plus récents</option>
                        <option name="oldest">Les plus anciens</option>
                    </select>
                </div>
            </div>

            {% if app.user %}
                <a href="{{path('article_new')}}" class="btn btnRed col-12 col-lg-4"><i class="fas fa-plus"></i> Nouvel article</a>
            {% endif %}
        </div>
    </div>

    <div id="card-showcase" class="container mb-5">
        {% if app.user and articles | length > 0 %}
            <div id="dataOrderBy" class="row mb-5 pb-5 justify-content-center">
                {% for art in articles %}
                    {% include 'articles/_articles.html.twig' %}
                {% endfor %}
                
                {# pagination #}
                <div class="row mx-auto my-5">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>  

        {% else %}
            <p class="alert alert-danger text-center"><i class="fas fa-exclamation-triangle"></i> Vous devez être inscrit pour pouvoir consulter les articles publiés</p>  
        {% endif %} 
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/filter.js') }}"></script>
{% endblock %}