{% extends 'base.html.twig' %}{#anciennement basePole.html.twig#}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pole_design.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/a_general_pole.css')}}">
{% endblock %}

{% block title %}Design {% endblock %}

{% block body %}
{#{% include 'poles/menuCube.html.twig' %}#}
    {# BANNIERE #}
    <img class="banniere-size  sectionPole" src="{{ asset('img/poles/pole_design/banniere_design2.png') }}" alt="banniere communication">
         
    <div id="contact" class="text-center mt-5">
        <a class="btn btnContact w-50" href="{{path('contactDesign')}}">Fiche contact</a>
    </div>

    <div class="container"> 
        {# BLOCK DE PRESENTATION DU POLE #}
        <div id="presentationPole">
            <h2 class="colorDesign text-center my-5 outline ombre">Presentation du pole</h2> 
        
            <h4 class="colorBlack text-center mb-2">Vocation</h4>
            <p class="typeText w-75 mx-auto text-center"> 
                Mobiliser l'innovation avec pragmatisme pour un confort de vie pour tous avec le
                processus de Conception Universelle.
            </p>
        
            <h4 class="colorBlack text-center mt-5 mb-2">Conviction</h4>
            <p class="typeText w-75 mx-auto mt-3 "> 
                Faire simple pour se sentir libre de se déplacer et vivre dans un environnement agréable
                sans difficulté. Montrer aux industriels et aux professionnels du bâtiment qu'il est possible
                de penser autrement nos constructions présentes et futures. = Apporter la connaissance de l’Universal
                Design et/ou Inclusive Design, mais aussi à l'enseignement supérieur de la construction,
                de l'ingénierie, du design et du management
            </p>
        </div>
    

        {# BLOCK DE PRESENTATION DU MEMBRE FONDATEUR #}
        <div id="membreFondateur" class="membre mb-5">
            <h2 class="text-center colorDesign mt-5 mb-2 outline ombre">Presentation du membre fondateur</h2>

            <section class="mx-auto w-75 my-3">
                {# <aside class="m-4"><img class="photoMembre mr-3" src="/img/poles/equipe_pole/jeanYves_grande.png" alt="photo"></aside> #}
                <aside class="m-4"><img class="photoMembre mr-4" src="/img/poles/experts/jeanYves.png" alt="photo"></aside>

                <article class="typeText">
                    Expert en Conception Universelle, formateur et designer CU.<br><br>
                    "WINNER" of the OPAL Award April 02, 2020 Lauréat du prix iF DESIGN AWARD 2020, avec le produit gagnant, « Le concept de salle de bain
                    Universal Design.»
                </article>
            </section>
        </div>
        
        {#temporeaire le temps d'avoir plus de contenu#}
        <br><br><br><br><br>
    
        {# CAROUSSEL BOOTSTRAP DE LA PRESENTATION DU MEMBRE FONDATEUR #}
        {#<div id="membreConnectes">
            <h2 class="text-center colorDesign mt-5 mb-2 ">Les membres connectes au pole</h2>
            <div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row m-5 text-center">
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/jeanYvesMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Jean-Yves Prodel</h4>
                                <p class="font-weight-bold">Design</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/patrick.jpg') }}" alt="First slide">
                                <h4 class="colorDesign">Patrick Vrignon</h4>
                                <p class="font-weight-bold">Innovation</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/xavierMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Xavier Tournillon</h4>
                                <p class="font-weight-bold">Evolution des savoirs</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row m-5 text-center">
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/francisMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Francis DESCAMPS</h4>
                                <p class="font-weight-bold">Evolution des métiers</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/anneMarie.jpg') }}" alt="First slide">
                                <h4 class="colorDesign">Anne-Marie Pinsolle</h4>
                                <p class="font-weight-bold">Communication R&amp;D</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4 ">
                                <img class="p-4" src="{{ asset('img/poles/experts/alainMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Alain Bechade</h4>
                                <p class="font-weight-bold">Immobilier</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>#}
        
        {# BLOCK L'EVOLUTION DES SAVOIRS SELON LE MEMBRE FONDATEUR #}
        <div id="poleSelon">
            <h2 class="text-center colorDesign m-auto w-75 outline ombre">L'universal et l'inclusive design selon jean-yves prodel</h2>

            <article class="typeText w-75 mx-auto my-3">
                Pour Jean-Yves Prodel, le design d’espace est avant tout la création de lieux pensés pour le
                bien-être et le confort de celles et ceux qui y vivent, y séjournent ou en ont simplement l’usage.
                Universal Design, expérience utilisateur (UX - User Experience Design), une méthode permettant de
                concevoir des espaces et des environnements accessibles et inclusifs adaptés aux usagers, quels
                que soient leurs besoins, leur taille, leur âge, leurs capacités motrices, sensorielles et mentales.
                Ainsi, depuis plus de 15 ans, Jean-Yves Prodel accompagne les professionnels de l’hôtellerie
                et du tourisme pour l’aménagement de chambres confortables et accessibles où il fait bon
                séjourner. Il travaille avec les collectivités territoriales dans la conception d’aménagements urbains,
                d’ERP et de résidences pour séniors. Conférences, Bande Dessinée, Film de Jean-Yves PRODEL sur
                "le concept d'Universal Design" et "Un nouveau regard sur le handicap" 
            </article>
        </div>
          

        {# BLOCK DES TRAVAUX DU MEMBRE FONDATEUR #}
        {#<div id="travauxDe">
            <h2 class="text-center colorDesign mt-5 mb-2">Les travaux de Jean-Yves Prodel</h2>
            
            <p class="typeText w-75 mx-auto my-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in 
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
                et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel 
                eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
            </p>
        </div>#}


        {# BLOCK DE CARRES DES TRAVAUX DU MEMBRE FONDATEUR #}
        <!--<div class="container">
            <div class="row">
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre presentation 1</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre presentation 2</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre presentation 3</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre presentation 4</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->


        {# CAROUSSEL BOOTSTRAP DES PARTENAIRES DU MEMBRE FONDATEUR #}
        {#<div id="membreConnectes">
            <h2 class="text-center colorDesign mt-5 mb-2 ">Les membres connectes au pole</h2>
           <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                        <div class="row m-5 text-center">
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/francisMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Francis DESCAMPS</h4>
                                <p class="font-weight-bold">Evolution des métiers</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/anneMarie.jpg') }}" alt="First slide">
                                <h4 class="colorDesign">Anne-Marie Pinsolle</h4>
                                <p class="font-weight-bold">Communication R&D</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/alainMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Alain Bechade</h4>
                                <p class="font-weight-bold">Immobilier</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row m-5 text-center">
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/jeanYvesMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Jean-Yves Prodel</h4>
                                <p class="font-weight-bold">Design</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/patrick.jpg') }}" alt="First slide">
                                <h4 class="colorDesign">Patrick Vrignon</h4>
                                <p class="font-weight-bold">Innovation</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                            <div class="membre col-12 col-lg-4">
                                <img class="p-4" src="{{ asset('img/poles/experts/xavierMini.png') }}" alt="First slide">
                                <h4 class="colorDesign">Xavier Tournillon</h4>
                                <p class="font-weight-bold">Evolution des savoirs</p>
                                <button class="btn btnPole">AFFICHER LE PROFIL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>#}


        {# BLOCK DE L'EVOLUTION DES METIERS #}
        {#<div id="evolution">
            <h2 class="text-center colorDesign mt-5 mb-2">L'evolution des metiers</h2>
            
            <p class="typeText w-75 mx-auto my-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit 
                esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio 
                dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum 
                dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna 
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 
                ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in 
                hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
            </p>
        </div>#}

        {# BLOCK DE CARRES DE L'INNOVATION #}
        <!--<div class="container">
            <div class="row">
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre 1</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3 ">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre 2</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre 3</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Titre 4</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->


        {# BLOCK DES SECTEURS D'ACTIVITE #}
        {#<div id="secteur">
            <h2 class="text-center colorDesign mt-5 mb-2">Les secteurs d'activites</h2>
            
            <p class="typeText w-75 mx-auto my-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor
                sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
            </p>
        </div>#}

        {# BLOCK DE CARRES DES SECTEURS D'ACTIVITE #}
        <!--<div class="container">
            <div class="row">
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Metier 1</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Metier 2</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Metier 3</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {# Carte Presentation 1 #}
                <div class="col-12 col-lg-6 px-0 p-5 rounded-0">
                    <div class="card">
                        <div class="text-center" style="border-bottom: 4px solid black;">
                            <p class="h4 titreCard mx-auto my-3 colorDesign">Metier 4</p>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text my-2 ">
                                Description 
                            </p>
                            
                            <a href="" class="btn btnPole my-3">Voir le projet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->


    
    </div>
{% endblock %}


